::selection {
  color: #fff;
  background-color: #d96dc8;

  text-shadow: 1px 1px 5px #fff;
}

body {
  padding-top: @navbar-height + 2*@navbar-pad-padding;

  @media (max-width: @grid-float-breakpoint) {
    padding-top: @navbar-height;
  }
}

@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }
