//== Colors
// -------------------------


//== Scaffolding
//
//## Settings for some of the most global styles.

//** Global textual link color.
@link-color:            #c10a8a;
//** Link hover color set via `darken()` function.
@link-hover-color:      darken(@link-color, 15%);


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

@font-family-sans-serif:  "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-serif:       Georgia, "Times New Roman", Times, serif;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
@font-family-monospace:   "Source Code Pro", Menlo, Monaco, Consolas, "Courier New", monospace;
@font-family-base:        @font-family-sans-serif;


@font-size-base:          15px;
@font-size-h1:            floor((@font-size-base * 2.7)); // ~40px

@headings-font-weight:    bold;


// Grid settings
// -------------------------

@main-md-columns:       @grid-columns;
@sidebar-md-columns:    4;


//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
//** Deprecated `@screen-xs` as of v3.0.1
@screen-xs:                  320px;

// Small screen / tablet
//** Deprecated `@screen-sm` as of v3.0.1
@screen-sm:                  480px;

// Medium screen / desktop
//** Deprecated `@screen-md` as of v3.0.1
@screen-md:                  768px;

// Large screen / wide desktop
//** Deprecated `@screen-lg` as of v3.0.1
@screen-lg:                  1200px;


//== Grid system
//
//## Define your custom responsive grid.

//** Number of columns in the grid.
@grid-columns:              12;
//** Padding between columns. Gets divided in half for the left and right.
@grid-gutter-width:         30px;
// Navbar collapse
//** Point at which the navbar becomes uncollapsed.
@grid-float-breakpoint:     @screen-md-min;


//== Container sizes
//
//## Define the maximum width of `.container` for different screen sizes.

// Small screen / tablet
@container-tablet:             100%;

// Medium screen / desktop
@container-desktop:            100%;

// Large screen / wide desktop
@container-large-desktop:      ((1140px + @grid-gutter-width));


//== Navbar
//
//##

// Basics of a navbar
@navbar-height:                    50px;

@navbar-default-color:             #fff;
@navbar-default-bg:                #222; //#8c7088;
@navbar-default-border:            darken(@navbar-default-bg, 6.5%);

// Navbar links
@navbar-default-link-color:                #fff;
@navbar-default-link-hover-color:          #fff;
@navbar-default-link-hover-bg:             transparent;
@navbar-default-link-active-color:         #ccc;
@navbar-default-link-active-bg:            darken(@navbar-default-bg, 6.5%);
@navbar-default-link-disabled-color:       #ccc;
@navbar-default-link-disabled-bg:          transparent;

// Navbar brand label
@navbar-default-brand-color:               @navbar-default-link-color;
@navbar-default-brand-hover-color:         darken(@navbar-default-brand-color, 10%);
@navbar-default-brand-hover-bg:            transparent;

// Navbar toggle
@navbar-default-toggle-hover-bg:           #ddd;
@navbar-default-toggle-icon-bar-bg:        #888;
@navbar-default-toggle-border-color:       #ddd;


//== Showcase

@showcase-bg:                         #40203b;
@showcase-default-border:             lighten(@showcase-bg, 6.5%);



// Glyphicons path
// -------------------------

@icon-font-path:        "../vendor/bootstrap/fonts/";


//== Navbar pad
//
//##
@navbar-pad-padding:      10px;
