.footer-left,
.footer-right,
.footer-middle {
  .make-sm-column(4);
}

footer.content {
  padding: 10px 0 60px;
  color: #fff;
  background-color: #111;
}

footer.content {
  color: #eee;
  font-size: 0.9*@font-size-base;
}
footer.content a { color: #eee; }
footer.content h3 {
  font-size: 0.9*@font-size-h3;
  font-weight: bold;
}
