// Content wrapper
.wrap { }

// Main content area
.main {
  .make-md-column(@main-md-columns);
  .sidebar-primary & {
    .make-md-column(@main-md-columns - @sidebar-md-columns);
  }
}

.blog .post {
  .make-md-column(6);
  .make-lg-column(4);

  height: 300px;
  overflow-y: hidden;
}
