.hentry header {
  .make-row();
}

.hentry .entry-title {
  margin: 30px 0 10px;
  .make-md-column(12);

  a { color: @text-color }
}

.hentry .byline {
  padding-left: 8px;
  .make-md-column(12);

  span {
    display: block;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
  }
}

.hentry time {
  padding: 10px 0;
  font-size: 0.8em;
  .make-md-column(4);

  .blog & { .make-md-column(6) }
  .archive & { .make-md-column(4) }
}

.hentry .entry-content { }
.hentry footer { }



